                .container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    border: 1 px solid blue;
                    background-color: rgb(127, 219, 219);
                    height: 400px;
                }

                .box {
                    border: 2px solid green;
                    background-color: blue;
                    height: 212px;
                    width: 212px;
                    animation-name: adarsh;
                    animation-duration: 10s;
                    animation-iteration-count: 4;
                    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
                    animation-delay: 1s;
                    animation-direction: reverse
                }

                @keyframes adarsh {
                    from {
                        width: 212px;
                        height: 212px;
                    }
                    to {
                        width: 800px;
                        height: 100px;
                    }
                }